.App {
  text-align: center;
}

body {
  background-color: #d8f3dc;
  color: #091c15
}

main {
  display: flex;
  margin-top: 15vh;
}

ul li {
  list-style: none;
}

.search-area {
  margin: auto;
  padding: 30px;
}

.categories-aside {
  border: groove darkgrey;
  margin: 10px;
  padding: 5px;
}

.categories-item {
  border: solid thin black;
  padding: 5px 10px;
}

.categories-item:hover {
  transform: scale(1.05);
}

.cart-button {
  height: 50px;
  margin: 10px;
  width: 50px;
}

.checkout {
  display: flex;
  flex-direction: column;
}

.checkout-items {
  border: solid thin black;
  display: flex;
  margin: 20px 50px;
  max-width: 700px;
  min-height: 150px;
  min-width: 300px;
  overflow-x: scroll;
}

.checkout-content {
  border: solid thin black;
  max-width: fit-content;
  min-width: 150px;
}

.checkout-content img {
  width: 100%;
}

.checkout input {
  margin: 15px;
  padding: 5px;
  width: 350px;
}

button .iconCart {
  animation: App-logo-spin 10s infinite linear;
  width: 100%;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
