.App {
  text-align: center;
}

main {
  display: flex;
}

.search-area {
  margin: auto;
  padding: 30px;
}

.categories-aside {
  border: groove darkgrey;
  margin: 10px;
  padding: 5px;
  position: absolute;
}

.categories-item {
  border: solid thin black;
  padding: 5px 10px;
}

.categories-item:hover {
  transform: scale(1.05);
}

.cart-button {
  height: 50px;
  margin: 10px;
  width: 50px;
}

button .iconCart {
  animation: App-logo-spin 10s infinite linear;
  width: 100%;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
